* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
:root{
    --bleumarinblack : #030305 ;
    --blancgris : #F6F6F6 ;
    --linkedincolor : #007ab9;
    --facebookcolor : #4460A0;
    --callcolor : #009691;
    --backgroundbleuopacity : rgba(79, 194, 225, 0.2);
    --backgroundbleu :  rgba(79, 194, 225, 0.5);
    --yellow : #F7D400;
    --bleumarinfont : #0B3752;
    --bleu : rgba(79, 194, 225);
    --backgroundcontacteznous : #4FE189;
    --submit : #42CE2B;
    --placeholder : #C4C4C4;
    --champobligatoire : #rgba(254, 31, 1, 0.75);
    --copyright : #5C6368;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bleumarinblack);
}
img{
    width: 80%;
    height: auto;
}
.socialfont{
    font-size: 40px;
}
.divsocialfont{
    display: flex;
    align-items: center;
    padding: 20px 0px;
    justify-content: center;
}
header{
    background-color: yellow;
}
.humbergermenu{
   width: 50px;
}
.backgroundbleuopacity{

}
#maintenanceimage{

}
h1,p{
    color: var(--bleumarinfont);
}
button{
    border-radius: 15px;
}
#button1{

}
#button2{
    
}
#button3{
    
}
#button4{
    
}
input{

}
input::placeholder{

}
label{

}
textarea{

}
#backgroundcontacteznous{

}
h1footer{

}
#pfooter{

}
#saisievotrequestion{

}
.fontfooter{

}