* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
:root{
    --bleumarinblack : #030305 ;
    --blancgris : #F6F6F6 ;
    --linkedincolor : #007ab9;
    --facebookcolor : #4460A0;
    --callcolor : #0bc057;
    --backgroundbleuopacity : rgba(79, 194, 225, 0.2);
    --backgroundbleu :  rgba(79, 194, 225, 0.5);
    --yellow : #F7D400;
    --bleumarinfont : #0B3752;
    --bleu : rgba(79, 194, 225);
    --backgroundcontacteznous : #4FE189;
    --submit : #42CE2B;
    --placeholder : #C4C4C4;
    --champobligatoire : rgba(254, 31, 1, 0.75);
    --copyright : #5C6368;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--bleumarinblack);
}
img{
    width: 80%;
    height: auto;
}
.socialfont{
    font-size: 40px;
}
.divsocialfont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
header{
    background-color: var(--blancgris);
}
.humbergermenu{
   width: 100%;
   display: flex;
   justify-content: center;
   background-color: var(--bleumarinblack);
}
#listesection{
    position:absolute;
    width: 100%;
    height: 35vh;
    background: var(--bleu);
    top: 298px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 6;
    float: right;
}
#listesection li a{
    text-decoration: none;
    box-sizing: border-box;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active{
    transition: .5s;
}
#listesection li{
    list-style: none;
    display: block;
    margin: 20px 0;
    line-height: 13px;
}
#listesection a:hover{
    background-color: var(--bleumarinfont);
    transition: .5s;
    font-weight: bold;
}
#check{
    display: none;
}
.checkbtn{
    display: block;
}
#check:checked ~ ul{
    left: 0;
}





#humbergermenubutton{
    color:white;
    font-size: 40px;
    padding-top: 2px;
}
#photoprincipal{
    background-image: url(images/canvaasitech/photo\ principal.png);
    background-size: cover;
    width: 100%;
    height: 241px;
    
}
.divprincipal{
    padding: 50px;
    padding-bottom: 10px;
}
.backgroundbleuopacity{
  background-color:var(--backgroundbleuopacity);
}
.backgroundbleuopacity h1,p,button{
    margin-top: 10px;
}
h1,p{
    color: var(--bleumarinfont);
}
button{
    border-radius: 15px;
    border: 3px solid;
    padding: 5px 10px;
   font-weight: 900;
   font-size: 12px;
   margin-top: 15px;
}
button:hover{
    cursor: pointer;
}
a:hover{
    cursor: pointer;
}
#button1{
   padding: 5px 10px;
   font-weight: 900;
   font-size: 12px;
   margin-top: 15px;
   background: none;
   background-color: var(--backgroundbleuopacity);
}
#button1:hover{
    background-color: var(--bleu);
}
#aproposdenous{
    margin-top: 30px;
}
#divtable{
    display: flex;
    justify-content: center;
}
table{
    background-color: var(--blancgris);
}   
.table{
    display: flex;
    justify-content: center;
    width: 84%;
    margin-top: 30px ;
}
th img{
    width: 100%;
}
td{
    display: flex;
    justify-content: center;
    background-color: var(--blancgris);
    padding: 20px;
}
table tr th p{
    font-style: normal;
    font-weight: normal;
    text-align:left;
    padding: 10px;
}
#nosservices{
   margin-top: 30px;
   background-color: var(--blancgris);
   padding: 30px;
}
.backgroundbleu{
    background-color: var(--backgroundbleu);
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0px 20px 20px;
}
video{
    width: 40%;
}
.service{
    border: solid 4px;
    margin-top: 40px;
    background-color: white;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px;
    margin-bottom: 10px;
    
}
.imgservice{
    height: 290px;
}
#moreinfo{
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}
details {
    padding: 19px;
    width: 100%;
    background-color: var(--yellow);
    cursor: pointer;
    border: solid 3px;
    border-radius: 8px;
  }
  summary{
      display: flex;
      justify-content: center;
      font-weight: bold;
      color: var(--bleumarinfont);
  }
  details:hover{
      background-color: #f7bd00;
  }
.imgexplication{
    display: flex;
    justify-content: center;
}
.imgexplication img{
    width: 100%;
    margin-top: 20px;
}
.ulservices{
    padding: 20px 50px 30px;
    font-weight: bold;
    padding-bottom: 0px;
}
.maintenancevideo{
    display: flex;
    justify-content: center;
}
#button2{
   background-color: var(--yellow);
}
#button2:hover{
   background-color: #f7bd00;
}
#divbtn2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

#exemples{
    padding: 10%;
    background-color: var(--blancgris);
}


#CONCESSIONNAIRES{
    padding: 30px;
    padding-bottom: 40px;
}
#CONCESSIONNAIRES div{
    display: flex;
    justify-content: center;
}
.CONCESSIONNAIRES{
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    border-color: black;
    border: solid 4px;
}
.logo{
    margin: 20px;
    padding: 5px;
    background-color: white;
    border: solid;
    border-radius: 5px;
}
#formulaire{
    margin: 30px;
    border: solid;
    border-radius: 7px;
    background-color: var(--blancgris);
    display: flex;
    justify-content: center;
    padding: 30px;
    box-shadow: 10px 10px 21px -4px;
}
input,textarea{
    margin-top: 30px;
    width: 100%;
    border: solid 2px;
    border-radius: 5px;
    height: 30px;
}
input::placeholder{
    font-style: italic;
    color: var(--placeholder);
    padding-left: 10px;
}
label p{
    color: var(--champobligatoire);
    margin-top: 20px;
    font-size: 10px;
}
#nonemargin{
    margin-top: 0px;
}
textarea{
    height: 100px;
}
textarea::placeholder{
    padding-left: 10px;
    padding-top: 10px;
    color: var(--placeholder);
    font-style: italic;
}
#backgroundcontacteznous{
    background-color: var(--backgroundcontacteznous);
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
}
#button3{
     background-color: var(--submit);
     border-radius: 8px;
}
#button3:hover{
    background-color: var(--backgroundcontacteznous);
}
.centerbutton{
    display: flex;
    justify-content: center;
}
footer{
    background-color: var(--bleumarinblack);
}
footer h1{
   color: white;
   padding: 20px;
   display: flex;
   justify-content: center;
   font-size: 50px;
}
footer div{
   display: grid;
   grid-template-columns: 50% 5% 45%;
   padding: 4%;
}
#horaire{
    width: 100%;
}
#pfooter{
    color: white;
    line-height: 80%;
    font-size: 80%;
    padding-top: 15%;
    font-weight: bold;
}
#main2{
    width: 20%;
    background-color: white;
    margin-top: 450%;
}
#saisievotrequestion{
    border: solid 3px;
    border-color: var(--placeholder);
    width: 95%;                                                                                     
    margin-top: 0px;
}
#button4{
   background-color: var(--yellow);
   border: solid 4px;
   border-color: var(--placeholder);
   border-radius: 20px;
   font-weight: bold;
   margin-top: 20px;
   height: 40px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 70%;
}
#button4:hover{
    background-color: #f7bd00;
    cursor: pointer;
}
.fontfooter{
   padding-top: 40%;
   color: white;
   font-size: 300%;
}
#fontgrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}

                                                    









.slides {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
#slideimg {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}









#scroll{
    background-color: var(--bleu);
    font-size: 40px;
    color: var(--bleumarinblack);
    border: solid;
    border-radius: 5px;
}

.scrol0{
    position:fixed;
    width: 90%;
    height: 30vh;
    background: none;
    top: 92%;
    z-index: 7;
}























@media  screen and (min-width: 600px) {
    
    
}
